source https://api.nuget.org/v3/index.json

nuget Carter
nuget Microsoft.Extensions.Hosting

group Tests
    source https://api.nuget.org/v3/index.json
    
    nuget Microsoft.NET.Test.Sdk
    nuget coverlet.collector
    nuget xunit
    nuget xunit.runner.visualstudio
